
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

* {
    font-family: 'Kalam', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: rgb(244, 233, 250);
}

.mainContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    background-color: RED;
    margin: auto;
    margin-top: 10px;
    width: 610px;
    height: 610px;
    justify-content: stretch; 
    border-radius: 20px;
    padding-top: 5px;
}

/*button and title*/

.buttonContainer{
    display: flex;
    margin-top:0px; 
    justify-content: space-between;
    width: 600px;
}

h1{
    font-size: 40px;
    color: gold;
}

button{
    width: 65px;
    height: 65px;
    background-color: white;
    color: darkslategrey;
    border: 2px solid antiquewhite;
    border-radius:50%;
    font-weight: bold;
    font-size:12px;
    text-align: center;
}

/* grid and pixels */

.grid{
    width: 500px;
    height: 500px;
    display:flex;
    flex-shrink: 1;
    flex-wrap:wrap;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    background-color: white;
 }

.pixel {
    box-sizing: border-box;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
   }

button:hover{
    background-Color: gold;
}

  